<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>OARN Relief Nursery Database</title>
		<link rel="shortcut icon" href="assets/favicon.ico"/>
		<!-- -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- css -->
		<link href="/static/css/enyo.css" rel="stylesheet"/>
		<link href="/static/css/app.css" rel="stylesheet"/>
        <link href="/static/css/oarndb.css" rel="stylesheet"/>
		<!-- js -->
		<script src="/static/js/enyo.js" charset="utf-8"></script>
		<script src="/static/js/app.js" charset="utf-8"></script>
		<!-- jQuery -->
        <script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <link href="/static/css/jquery-ui.min.css" rel="stylesheet"/>
        <link href="/static/css/jquery-ui.structure.min.css" rel="stylesheet" />
        <link href="/static/css/jquery-ui.theme.min.css" rel="stylesheet" />
		<!-- Chart.js -->
		<script src="/static/js/Chart.min.js"></script>
        <!-- Defiant.js -->
        <script src="/static/js/defiant-latest.min.js"></script>
        <!-- Moment.js -->
        <script src="/static/js/moment.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/static/css/grid12.min.css">
	</head>
	<body class="enyo-unselectable">
	<noscript>
		The OARN Relief Nursery Database requires JavaScript.
	</noscript>
	<!--
	The OARN Relief Nursery Database
	Copyright (C) 2015  Oregon Association of Relief Nurseries

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as
	published by the Free Software Foundation, either version 3 of the
	License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.
	-->
	</body>

</html>
